venv/
lakehouse/lakehouse_venv/
lakehouse/lakehouse_data/
__pycache__/
*.pyc
.ipynb_checkpoints/

# Data files (biarkan folder data, tapi ignore isinya)
dashboard/data/*.json
!dashboard/data/.gitkeep

# HDFS / Hadoop temp files
/tmp/
*.log
test_connection.py
spark/*.ipynb
dashboard/frontend_source/.bolt/
dashboard/frontend_source/supabase/
